body
{
	font: 14px "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	margin-top: 0px;
	background: #FFF url(../img/bg.jpg) repeat-x;
	/* padding-top: 30px; */
}
code
{
	padding: 3px;
	background: #F1F1F1;
	border: 1px solid #555;
	display: block;
	margin: 5px;
	text-align: left;
}
.wrap
{
	width: 800px;
	text-align: left;
	padding: 0px;
}
a
{
	color: #0060BF;
	text-decoration: underline;
}
a:hover
{
	color: #000;
}
img, img a
{
	border: 0;
}
h1
{
	font-family: Verdana, Tahoma;
	font-size: 20px;
	font-weight: normal;
	background: #FFF6BF;
	border-top: 1px solid #FFD324;	
	border-bottom: 1px solid #FFD324;
	padding: 5px 10px 7px 10px;
	margin: 10px 0;
}
h2
{
	font: 62.5% "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-size: 17px;
	font-weight: normal;
	margin: 10px 0;
}
.home_login
{
	font-weight: normal;
	background: #FFF6BF;
	border: 1px solid #FFD324;	
	padding: 5px 10px 7px 10px;
	margin: 10px 0;
}
.ntext
{
	padding: 10px;
	font-size: 14px;
	line-height: 1.8em;
}

form { margin: 0px; }
.header { margin-top: 40px; margin-bottom: 40px; }
.logo
{
	width: 254px;
	height: 55px;
	float: left;
}
.footer
{
	padding: 20px;
	margin-top: 40px;
	border-top: 1px solid #CCC;
	color: #555;
	text-align: center;
}
.menu
{
	float: right;
	padding-top: 10px;
	font-size: 15px;
	font-weight: bold;
}
.menu a
{
	margin: 0 10px;
}

.tabs
{
	font-family: Verdana, Tahoma;
	font-size: 18px;
	background: #BCE3F7;
	border-top: 1px solid #70A9C7;
	border-bottom: 1px solid #70A9C7;
	width: 800px;
	padding-top: 5px;
	height: 35px;
	margin-bottom: 25px;
}
.tabs ul
{
	margin: 0;
	padding-left: 10px;
}
.tabs ul li
{
	list-style: none;
	display: block;
	float: left;
	margin-right: 10px;
	padding: 6px;
}
.tabs ul li a
{
	color: #000;
}
.tabs ul li a:hover
{
	color: #0060BF;
}
.tabs ul li.active
{
	padding:  6px;
	background: #FFF;
	border-top: 1px solid #70A9C7;
	border-left: 1px solid #70A9C7;
	border-right: 1px solid #70A9C7;
	border-bottom: 1px solid #FFF;
}
.tabs ul li.active a
{
	color: #0060BF;
}
ul.features
{
	margin: 0px;
	padding: 0px 10px;
}
ul.features li
{
	list-style: none;
	background: url(../img/bullet_go.jpg) no-repeat center left;
	padding-left: 20px;
	margin-bottom: 6px;
}
.textbox
{
	border-top: 1px solid #868473;
	border-left: 1px solid #868473;
	border-right: 1px solid #DEDDD5;
	border-bottom: 1px solid #DEDDD5;
	padding: 2px;
}
.bigbox
{
	border-top: 1px solid #868473;
	border-left: 1px solid #868473;
	border-right: 1px solid #DEDDD5;
	border-bottom: 1px solid #DEDDD5;
	padding: 2px;
	font-size: 18px;
}

.camp_tr1 td
{
	padding: 10px;
	background: #F1F1F1;
}
.camp_tr2 td
{
	padding: 10px;
	background: #FFF;
}
.alert
{
	color: #000;
	background: #F7C7BC;
	padding: 5px;
	border-top: 1px solid #C78170;
	border-bottom: 1px solid #C78170;
	margin: 0 25px;
}

.tcenter { text-align: center; }
.tablediv 
{
	display: table;
	width:750px;
	text-align: left;
}
.rowhead .celldiv
{
	padding: 10px;
	float: left; /* fix for  buggy browsers */

	background-color:#DFDFDF;
	font-size: 14px;
	margin: 1px;
}
.rowdiv1, .rowdiv2, .rowhead
{
	clear: left;

	width:auto;
}
.rowdiv1 .celldiv
{
	float:left; /* fix for  buggy browsers */

	background-color:#F1F1F1;
	font-size: 14px;
	padding: 10px;
	margin: 1px;
}
.rowdiv2 .celldiv 
{
	float:left; /* fix for  buggy browsers */

	background-color:#FFF;
	font-size: 14px;
	padding: 10px;
	margin: 1px;
}
.count
{
	width: 60px; 
	text-align: center;
}

/* form validation */
.validation-error {
	font-size: 13px;
	margin: 5px 0;
	padding: 5px;
	background-color: #FF3300;
	color : #FFF;
}